@import "colors";
$font:'Nunito',
sans-serif;

.shadow {
  background: $white;
  box-shadow: 0px 60px 40px rgba(5, 149, 153, 0.08);
  border-radius: 10px;
}

.card {
  border: 0;
  border-radius: 10px;
}

.max-width-420 {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 0;
  padding-top: 10px;

  label {
    font-size: 14px;
    font-family: $font;
    color: $black;
    opacity: 0;
    transition: all .5s ease-in-out;
    margin-left: 30px;
  }

  .form-control {
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    font-size: 18px;
    color: $black;
    border-radius: 40px;
    outline: none !important;

    &::placeholder {
      color: $black;
    }
  }

  input,
  select {
    height: 60px !important;
    padding-right: 24px;
    padding-left: 24px;
  }

  &.has-content {
    label {
      opacity: 1;
    }

    .form-control {
      background-color: $white;
      border-color: #ccc;
    }
  }

  &.is-valid {
    label {
      color: $green-light;
    }

    .form-control {
      border-color: $green-light;
    }
  }

  &.is-invalid {
    label {
      color: $red;
    }

    .form-control {
      border-color: $red;
    }
  }
}

.table thead th {
  border-bottom: 0;
  border-top: 0;
  font-family: $font;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #999999;
}

.table tfoot th {
  border-bottom: 0;
  border-top: 0;
  font-family: $font;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;
  color: $black;
  font-weight: 800;
  border-top: 1px solid #00919947;

  a {
    color: $black;
  }
}


.table tbody td {
  color: $black;
  border-color: #00919947;
  // border-bottom: 0;
  // border-top: 0;
  font-family: $font;
  font-size: 13px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;

  a {
    padding: 0px 10px;
    color: $black;
  }

  i {
    font-size: 20px;
    color: #ccc;
  }
}


.table {
  tr {
    &:hover {
      td {
        background-color: #D4EDEE;
      }
    }
  }
}

.title-big {
  font-size: 67px;
  font-family: $font;
  font-weight: 800;
  color: #262626;

  @media(max-width:1200px) {
    font-size: 50px;
  }

  @media(max-width:992px) {
    font-size: 40px;
  }
}

.title {
  font-size: 48px;
  font-family: $font;
  font-weight: 500;
  color: #262626;

  @media(max-width:1200px) {
    font-size: 38px;
  }

  @media(max-width:992px) {
    font-size: 30px;
  }
}

.title-2 {
  font-size: 36px;
  font-family: $font;
  font-weight: 800;
  color: #262626;

  @media(max-width:1200px) {
    font-size: 30px;
  }

  @media(max-width:992px) {
    font-size: 26px;
  }
}

.title-3 {
  font-size: 30px;
  font-family: $font;
  font-weight: 800;
  color: #262626;


}

.subtitle {
  font-size: 20px;
  font-family: $font;
  color: #4D4D4D;
  font-weight: 700;
}

.text {
  font-size: 18px;
  font-family: $font;
  color: #4D4D4D;
  font-weight: 400;

  p {
    font-size: 18px;
    font-family: $font;
    color: #4D4D4D;
    font-weight: 400;
  }
}

.btn-big {
  color: #fff;
  background-color: $green-light;
  box-shadow: 0 5px 1px #016b71;
  border: 0 none;
  border-radius: 100px;
  font-family: $font;
  font-weight: bold;
  line-height: 80px;
  max-width: 100%;
  outline: 0;
  text-transform: uppercase;
  width: 290px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  padding-top: 0;
  min-height: 80px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: #1c9e52
  }

  @media(max-width:1200px) {
    font-size: 18px;
    line-height: 60px;
    width: 240px;
    min-height: 60px;
  }


}

.img-fluid-overlay {
  width: calc(105%);
}

.max-width-530 {
  max-width: 530px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-360 {
  max-width: 360px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-300 {
  max-width: 300px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-200 {
  max-width: 200px !important;
  margin-left: auto;
  margin-right: auto;
}

.min-width-260 {
  min-width: 260px !important;
}

.max-width-830 {
  max-width: 830px !important;
  margin-left: auto;
  margin-right: auto;
}

.max-width-880 {
  max-width: 880px !important;
  margin-left: auto;
  margin-right: auto;
}

.min-height-60vh {
  min-width: 60vh;
}

.custom-link {
  font-size: 14px;
  font-family: $font;
  text-decoration: underline;
  font-weight: 700;
  transition: color .5s ease-in-out;
  color: $black;

  &-2 {
    color: $green-light;
  }

  i {
    font-size: 16px;
  }

  &:hover {
    color: $green;
  }
}

.steps {
  display: flex;

  &__item {
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 40px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    @media (max-width:767px) {
      width: 44px;
      height: 44px;
      font-size: 20px;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 15px;
      height: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $green;
    }

    &:before {
      left: -10px;
    }

    &:after {
      right: -10px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    &.active {
      background-color: $green-light;

      &:before,
      &:after {
        background-color: $green-light;
      }

      span {
        width: 0;
        height: 0;
        border-bottom: 32px solid $white;
        border-left: 43px solid transparent;
        position: absolute;
        bottom: -40px;
        left: -16px;

        @media (max-width:767px) {
          border-bottom: 32px solid $white;
          border-left: 36px solid transparent;
        }
      }
    }

    &.undone {
      background-color: $white;
      color: $black;

      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
}